body {
  background-color: #4d4d4d;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}
  button{
    background-color: black;
    font-family: 'Almarai', sans-serif;
    color:aliceblue;
    display: block;
    width: 150px;
    height: 80px;
  }
  
  

      
